<html>
  <head>
    <title>Alert-Component</title>
    <link rel="stylesheet" href="./bs.css" />
  </head>
  <body>
    <div class="alert-primary text-center" role="alert">
      Primary
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
    <div class="alert-secondary text-center" role="alert">
      secondary
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
    <div class="alert-success text-center" role="alert">
      success
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
    <div class="alert-danger text-center" role="alert">
      danger
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
    <div class="alert-warning text-center" role="alert">
      warning
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
    <div class="alert-light text-center" role="alert">
      light
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
    <div class="alert-info text-center" role="alert">
      info
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
    <div class="alert-dark text-center" role="alert">
      dark
      <a href="https://www.typing.com/student/lessons" class="alert-link"
        >link with alert</a
      >
    </div>
  </body>
</html>
