/* #user {
    margin-right: 100px;
} */
/* #one button {
    

} */

#one {
    height: 30px;
    text-align: left;
    margin-top: 600px;
    margin-left: 460px;
    width: 500px;
    border: 1px solid #ccc;
    position: relative;
    margin-left: 50px;
}


/* #one {
    width: 500px;
    margin-top: 600px;
    margin-left: 460px;
    border: 1px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#one input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
}

#one button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */